@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

body {
    margin: 0;
    color: #000000;
    font-weight: 500;
    font-family: Inter, sans-serif;
    background: no-repeat url('../images/bg1-1280px.png');
    background-size: cover;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 2px 2px #454545;
    margin: 0 0 32px;
}

.container {
    width: 100%;
}

.wrapper {
    width: 1010px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: rgba(3, 172, 0, 0.8);
    display: flex;
    padding: 32px 0;
}

.content section {
    margin: 32px 0;
}

.site-header-footer {
    height: 84px;
    background-color: #FFFFFF;
}

.site-header-footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    width: 107px;
    display: flex;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header .btn {
    width: 135px;
}

.menu-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-header ul li {
    color: #FFFFFF;
    float: left;
    font-size: 16px;
}

.menu-header ul li a {
    color: #4B4B4B;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-header ul li a:hover {
    color: #000000;
    text-decoration: underline;
}

.btns-header {
    display: flex;
    align-items: center;
}

#menu-mobile {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -370px;
    background-color: #FFFFFF;
    width: 370px;
    height: 100%;
    padding: 10px;
    transition: margin-right 0.3s;
}

#menu-mobile.open {
    margin-right: 0;
    box-shadow: -3px 2px 27px rgba(0, 0, 0, 0.48);
}

#menu-mobile-icon {
    display: flex;
}

.menu-mobile-top {
    margin: 20px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-data {display: flex;flex-direction: row;}
.user-name-score {margin-left: 10px;}
.user-name {font-size: 20px;margin: 0 0 5px;}
.user-avatar {
    width: 50px;
    height: 50px;
}
.user-score {

}
.menu-close-icon {

}


.btn {
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #03AC00;
    display: flex;
    align-content: center;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    line-height: 14px;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-primary {
    background-color: #03AC00;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus {
    box-shadow: inset 0 -3.25em 0 0 #048501;
    border-color: #048501;
}

.btn-secondary {
    color: #03AC00;
    margin-right: 10px;
}

.btn-secondary:hover,
.btn-secondary:focus {
    box-shadow: inset 0 -3.25em 0 0 #d3f7d2;
}

.main-title p {
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: 2px 2px #454545;
}

.main-trail img {
    width: 100%;
    height: auto;
}

.main-trail {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-bottom: 32px;
    overflow: hidden;
}

.main-trail p {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin: 32px;
}

.main-trail .btn {
    margin: 0 32px;
    width: 250px;
    height: 44px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.trail-thumb {
    position: relative;
}

.trail-thumb img {
    width: 100%;
    height: auto;
}

.trail-thumb h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    font-size: 16px;
    color: #FFFFFF;
}

.trails-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trail-card {
    margin-right: 22px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}
.trail-card:last-child {
    margin-right: 0
}

.trail-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #666666;
}
.trail-card .btn {
    width: 40%;
    height: 32px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu-header {
        display: none;
    }
    .menu-header,
    .btns-header {
        display: none;
    }
    h2 {
        font-size: 28px;
    }
    .wrapper {
        width: 95%;
    }
    .trails-list {
        justify-content: normal;
    }
    .trail-card {
        min-width: 166px;
        margin-right: 16px;
    }
    .trail-card p,
    .trail-card .btn {
        font-size: 12px;
    }
    .trail-card .btn {
        height: 24px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu-header {
        display: none;
    }
    .menu-header,
    .btns-header {
        display: none;
    }
    h2 {
        font-size: 54px;
    }
    .wrapper {
        width: 580px;
    }
    .trails-list {
        justify-content: normal;
    }
    .trail-card {
        min-width: 300px;
        margin-right: 28px;
    }
    .trail-card p,
    .trail-card .btn {
        font-size: 21px;
    }
    .trail-card .btn {
        height: 42px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {
        width: 748px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu-header,
    .btns-header {
        display: inherit;
    }
    #menu-mobile-icon {
        display: none;
    }
    h2 {
        font-size: 40px;
    }
    .wrapper {
        width: 906px;
    }
    .trail-card {
        min-width: 380px;
        margin-right: 36px;
    }
    .trail-card:last-child {
        margin-right: 0;
    }
    .trail-card p,
    .trail-card .btn {
        font-size: 28px;
    }
    .trail-card .btn {
        height: 55px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1010px;
    }
    .trails-list {
        justify-content: space-between;
    }
    .trail-card {
        min-width: auto;
        margin-right: 22px;
    }
    .trail-card:last-child {
        margin-right: 0;
    }
    .trail-card p,
    .trail-card .btn {
        font-size: 16px;
    }
    .trail-card .btn {
        height: 32px;
    }
}

