@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

* {
    transition: all 0.4s;
}

body {
    margin: 0;
    color: #000000;
    font-weight: 500;
    font-family: Inter, sans-serif;
    background: no-repeat url('../images/bg1-1280px.png');
    background-size: cover;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 2px 2px #454545;
    width: 50%;
    margin: 0 0 32px;
}

.container {
    width: 100%;
}

.wrapper {
    width: 1010px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: rgba(3, 172, 0, 0.8);
    display: flex;
    padding: 32px 0;
}

.content section {
    margin: 32px 0;
}

.site-header-footer {
    height: 84px;
    background-color: #FFFFFF;
}

.site-header-footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    width: 107px;
    display: flex;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header .btn {
    width: 135px;
}

.menu-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-header ul li {
    color: #FFFFFF;
    float: left;
    font-size: 16px;
}

.menu-header ul li a {
    color: #4B4B4B;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-header ul li a:hover {
    color: #000000;
    text-decoration: underline;
}

.btns-header {
    display: flex;
    align-items: center;
}

.btn {
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #03AC00;
    display: flex;
    align-content: center;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    line-height: 14px;
    padding: 0 20px;
    cursor: pointer;
}

.btn-primary {
    background-color: #03AC00;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus {
    box-shadow: inset 0 -3.25em 0 0 #048501;
    border-color: #048501;
}

.btn-secondary {
    color: #03AC00;
    margin-right: 10px;
}

.btn-secondary:hover,
.btn-secondary:focus {
    box-shadow: inset 0 -3.25em 0 0 #d3f7d2;
}

.main-title p {
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: 2px 2px #454545;
}

.main-trail img {
    width: 100%;
    height: auto;
}

.main-trail {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-bottom: 32px;
    overflow: hidden;
}

.main-trail p {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin: 32px;
}

.main-trail .btn {
    margin: 0 32px;
    width: 250px;
    height: 44px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.trail-thumb {
    position: relative;
}

.trail-thumb img {
    width: 100%;
    height: auto;
}

.trail-thumb h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    font-size: 16px;
    color: #FFFFFF;
}

.trails-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trail-card {
    width: 215px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}

.trail-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #666666;
}

